{% extends "trakker/views/templates/base.html" %}

{% block content %}

{% include "trakker/views/templates/tabs.html" %}

<div style="width:600px;margin: 0 auto;">
  <p style="width:500px;margin: 0 auto;margin-bottom:10px;">
    <a href="http://www.flickr.com/photos/aigle_dore/4178265189/" title="Time di Moyan_Brenn, su Flickr">
      <img src="http://farm3.staticflickr.com/2764/4178265189_4785cf3fa5.jpg" width="500" height="347" alt="Time di Moyan_Brenn">
    </a>
  </p>

  <p>
    Trakker is a web application designed to help you keep track on how you spend your time day by day.
  </p>

  <p>
    This is an open source application, you can find the source code on <a href="https://github.com/manuelp/trakker">GitHub</a>.
  </p>
</div>

{% endblock %}
