{% extends "trakker/views/templates/base.html" %}

{% block content %}

 <div class="hero-unit">
    <h1>Welcome to trakker</h1>
    <p>Start tracking your time!</p>
    <p><a class="btn btn-primary btn-large" href="http://luminusweb.net">Powered by Luminus &raquo;</a></p>
 </div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Reports
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="reports/today">Today</a></li>
  </ul>
</div>

<form action="/" method="POST">
    Task:
  <input type="text" name="desc">
  <input type="submit" value="Start" class="btn btn-primary">
</form>

{% if error %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p class="text-error">{{error}}</p>
</div>
{% endif %}

{% endblock %}
