{% extends "trakker/views/templates/base.html" %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/reports/today">Today</a></li>
  <li><a href="/reports/today-aggregated">Today (aggregated)</a></li>
</ul>

<form action="{{ context }}" method="POST">
    Task:
  <input type="text" name="desc">
  <input type="submit" value="Start" class="btn btn-primary">
</form>

{% if error %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p class="text-error">{{error}}</p>
</div>
{% endif %}

{% endblock %}
