{% extends "trakker/views/templates/base.html" %}

{% block content %}

{% include "trakker/views/templates/tabs.html" %}

<table class="table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Task</th>
    <th>Duration</th>
    <th>Minutes</th>
    <th>Actions</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.start }}</td>
    <td>{{ task.end }}</td>
    <td>{{ task.desc }}</td>
    <td>{{ task.formatted-duration }}</td>
    <td>{{ task.duration }}</td>
    <td>
      {% if not task.end %}
      <a href="{{ context }}/tracking/{{ task.id }}" class="btn">Edit</a>
      {% endif %}
      <a href="{{ context }}/delete/{{ task.id }}" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<img class="diagram" src="{{ context }}/img/today.svg" alt="Today's tasks chart"/>

{% endblock %}
