{% extends "trakker/views/templates/base.html" %}

{% block content %}
<ul class="nav nav-tabs">
  <li><a href="{{ context }}/">Home</a></li>
  <li class="active"><a href="{{ context }}/reports/today">Today</a></li>
  <li><a href="{{ context }}/reports/today-aggregated">Today (aggregated)</a></li>
</ul>

<table class="table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Task</th>
    <th>Minutes</th>
    <th>Actions</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.start }}</td>
    <td>{{ task.end }}</td>
    <td>{{ task.desc }}</td>
    <td>{{ task.duration }}</td>
    <td>
      {% if not task.end %}
      <a href="{{ context }}/tracking/{{ task.id }}" class="btn">Edit</a>
      {% endif %}
      <a href="{{ context }}/delete/{{ task.id }}" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
