{% extends "trakker/views/templates/base.html" %}

{% block content %}

<div style="width:300px;margin: 0 auto;">
  <a href="http://imgur.com/meBSW9B">
    <img src="http://i.imgur.com/meBSW9B.gif" title="Hosted by imgur.com" alt="Cool time animation" />
  </a>
</div>

<table class="table">
  <tr>
    <th>Task</th>
    <td>{{ desc }}</td>
  </tr>
  <tr>
    <th>Start</th>
    <td>{{ start }}</td>
  </tr>
  <tr>
    <th>Duration</th>
    <td>
      <input style="width:40px;" type="number" id="duration" readOnly="true" value={{ duration }}> min</input>
      <input style="width:40px;" type="number" id="seconds" readOnly="true" value=0> s</input>
    </td>
  </tr>
</table>

<form action="{{context}}/stop" method="POST">
  <input type="hidden" name="id" value="{{id}}">
  <input type="submit" class="btn btn-primary" value="Stop">
  <a class="btn btn-danger" href="{{ context }}/cancel/{{id}}">Cancel</a>
</form>

<script type="text/javascript">
  console.log(Date.parse('{{start}}'));
  var interval = setInterval(function () {
    var elm = document.getElementById('duration');
    elm.value = parseInt(elm.value) + 1;
  }, 60000), intervalSeconds = setInterval(function () {
    var elm = document.getElementById('seconds'), value = parseInt(elm.value);
    if(value === 59)
      seconds.value = 0;
    else
      seconds.value = value + 1;
  }, 1000);
</script>

{% endblock %}
